
.item {
    width: 200px;
    height: 250px;
    padding: 15px;
    position: relative;
}

.icon {
    font-size: 30px;
    color: white;
}

.content {
    position: absolute;
    bottom: 5px;
    color: white;
}